.create-a-post{
  /* position: fixed; */
  /* width: 628px; */
  background-color: black;
  /* top: 55px; */
  /* right: 240px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin: 0;
  box-sizing: border-box;
}

.text-nav, .photo-nav, .video-nav, .audio-nav{
  box-sizing: border-box;
  margin: 10px;
  padding: 0;
  height: 50px;
  text-align: center;
}
