.spacer {
  height: 55px;
  background-color: black;
}
.posts > h1{
  margin: 0;
  margin-bottom: 10px;
  border-bottom: solid;
  overflow-wrap: break-word;
  width: auto;
  height: auto;
}
.posts > p {
  margin: 0;
  height: auto;
}

.picture-box{
  width: 75pxpx;
  height: 75px;
  background-color: white;
  grid-area: picture;
  margin-right: 5px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.posts {
  grid-area: post;
  border: 1px solid gray;
  margin: 0;

  background-color: rgb(192, 192, 192);
  color: black;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0px 0px 14px rgba(255,255,255, 1);
}

.photo, .audio, .video, .text {
  max-width: 470px;
  max-height: auto;
}

.video iframe {
  height: 315px;
  width: 100%;
}

.photo img {
  max-width: 100%;
}
.post-container {
  box-sizing: border-box;
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template:
  "picture post"
  " - post";
}

.details {
  white-space: pre-wrap;
}

@media screen and (min-width: 628px){
  .logged-in-nav{
    width: 628px;
    display: flex;
    justify-content: space-between;
  }

  .post-container{
    width: 600px;
    grid-template-columns: 1fr 4fr;

  }
}
