.posts > h1{
  margin: 0;
  margin-bottom: 10px;
  border-bottom: solid;
}
.posts > p {
  margin: 0;
  height: auto;
}


.picture-box{
  width: 100px;
  height: 100px;
  background-color: white;
  grid-area: picture;
  margin-right: 5px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.posts {
  grid-area: post;
  border: 1px solid gray;
  margin: 0;
  height: auto;
  background-color: rgb(192, 192, 192);
  color: black;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0px 0px 14px rgba(255,255,255, 1);
}

.photo > img {
  width: 100%;
  height: auto;
}
.post-container {
  box-sizing: border-box;
  margin: 80px 20px 20px 20px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template:
  "picture post"
  " - post";
}

@media screen and (min-width: 600px){
  .logged-in-nav{
    width: 600px;
    display: flex;
    justify-content: space-between;
  }

  .post-container{
    width: 600px;
    grid-template-columns: 1fr 4fr;

  }
}
