#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  position: absolute;
  background-color:black;
  border: 1px solid white;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 5px;
}

#modal-content > h2 {
  color: white;
  text-align: center;
  font-family: 'Inconsolata', monospace;
  margin: 2px;
  max-width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.login-error{
  color: red;
}

/* REGISTER FORM */
.register{
  border: 1px solid black;
  border-radius: 4px;
  background-color: rgb(145, 134, 134);
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Inconsolata', monospace;
  margin: 0px;
  padding: 5px;
  /* position: absolute; */
}

h2 {
  margin: 0;
  word-wrap: break-word;
}

.register > form {
  margin: 0;
}

button {
  font-family: 'Inconsolata', monospace;

}

ul {
  color: red;
  list-style-type: none;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0px;
  padding: 15px;
}
