.footer {
  display: flex;
  flex-direction: row-reverse;
  /* box-sizing: border-box;
  margin: 2px; */
  height: 100%;
}

.like-dropdown {
  /* position: relative; */
  color: red;
  font-family: roboto;
}

.like{
  color: red;
  background-color: rgb(192, 192, 192);
  border-style: none;
  border-width: 0px;
  border-image: none;
}

.like:focus,
.noLike:focus{
  outline:none;
}

button.noLike:hover {
  color: red;
}

button.like:hover {
  color: white;
}

button.noLike {
  background-color: rgb(192, 192, 192);
  border-style: none;
  color: white;
}
