/* TODO Add site wide styles */
body{
  background-color: black;
  overflow: hidden;


}

.home-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-image: url("img/owl2.PNG");
  background-size: auto 550px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; */
  height: 650px;
  position: relative;


}

.title {
  color: white;
  font-family: roboto;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
  align-self: center;
  position: absolute;
  margin-top: 399px;
}

.navbar{
  margin-top: 0;
  position: fixed;
}

.background-img{
  position: absolute;
  width: auto;
  max-height: 100%;
}
