/* TODO Add site wide styles */
body{
  background-color: black;


}

.home-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: auto;
  height: 400px;
}

/* .title {
  color: white;
  font-family: roboto;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
  align-self: center;
  position: absolute;
  margin-top: 399px;
} */

.logged-out-nav{
  margin-top: 0;
  position: fixed;
  z-index: 100;
  display: flex;
  border: 1px solid white;
  border-radius: 4px;
  font-family: roboto;

}

.logged-in-nav{
  margin-top: 0;
  position: fixed;
  z-index: 100;
  display: flex;
  border: 1px solid white;
  border-radius: 4px;
  font-family: roboto;

}
.nav{
  box-sizing: border-box;
  padding: 8px;
}

.background-img{
  position: fixed;
  width: auto;
  height: 100%;
}
