.register{
  border: 1px solid white;
  border-radius: 4px;
  background-color: rgb(145, 134, 134);
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Inconsolata', monospace;
  margin-top:29px;
  /* position: absolute; */
}

h2 {
  margin: 0;
  word-wrap: break-word;
}

.register > form {
  margin: 0;
}

button {
  font-family: 'Inconsolata', monospace;

}

ul {
  color: red;
  list-style-type: none;
  margin: 0;
  padding: 0px 0px 2px 5px;
  font-weight: bold;
}
