.profile-dropdown {
  position: absolute;
  right: 40px;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100px;
  height: auto;
  border: 1px solid;
  border-radius: 4px;
}

.menu-dropdown {
  position: absolute;
  right: 40px;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100px;
  height: auto;
  border: 1px solid;
  border-radius: 4px;
}

.navbar {
  display: flex;
  border: 1px solid white;
  border-radius: 4px;
  font-family: 'Inconsolata', monospace;
  justify-content: center;
}

.navbar div {
  box-sizing: border-box;
  /* padding: 5px; */
}

.nav, a{
  text-decoration: none;
  color: white;
}

.nav:hover, a:hover {
  text-shadow: 0 0 10px rgba(255, 0, 0, 1);
  color: red;
}


.logged-in-nav{
  background-color: rgb(17, 16, 16);
  /* display: grid;
  grid-template: "name profile more" 588px 10px 10px; */
}

.logged-in-nav > .night-owl-logo {
  font-size: auto;
  width: 572px;
}



a {
  font-size: 16pt;
  margin: 0px 10px 0px 0px;
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.918);
}

.profile-button {
  display: flex;
  flex-direction: row;
  width: 40px;
  position: relative;
}

.menu {
  grid-area: menu;
  margin-right: 30px;
}


@media screen and (min-width: 628px){
  .logged-in-nav{
    width: 628px;
    display: flex;
    flex-direction: row;
  }
}
