.profile-dropdown {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  background-color: white;
  width: auto;
  height: 100%;
}

.navbar {
  display: flex;
  border: 1px solid white;
  border-radius: 4px;
  font-family: 'Inconsolata', monospace;
  justify-content: center;
}

.navbar div {
  box-sizing: border-box;
  padding: 5px;
}

.nav, a{
  text-decoration: none;
  color: white;
}

.nav:hover, a:hover {
  text-shadow: 0 0 10px rgba(255, 0, 0, 1);
  color: red;
}

.profile-button {
  display: flex;
  flex-direction: row;
  position: relative;
}

.logged-in-nav{
  background-color: rgb(17, 16, 16);
}

a {
  font-size: 16pt;
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.918);
}
