.profile-dropdown {

  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100px;
  height: auto;
  border: 1px solid;
  border-radius: 4px;
}

.menu-dropdown {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100px;
  height: auto;
  border: 1px solid;
  border-radius: 4px;
}

.navbar {
  display: flex;
  border: 1px solid white;
  border-radius: 4px;
  font-family: 'Inconsolata', monospace;
  justify-content: center;
}

.navbar div {
  box-sizing: border-box;
  /* padding: 5px; */
}

.nav, a{
  text-decoration: none;
  color: white;
}

.nav:hover, a:hover {
  text-shadow: 0 0 10px rgba(255, 0, 0, 1);
  color: red;
}


.logged-in-nav{
  background-color: rgb(17, 16, 16);
  /* display: grid;
  grid-template: "name profile more" 588px 10px 10px; */
}

a {
  font-size: 24pt;
  margin: 10px;
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.918);
}

.profile-button {
  display: flex;
  flex-direction: row;
  /* width: 40px;
  position: relative; */
}




@media screen and (min-width: 628px){
  .logged-in-nav{
    width: 628px;
    display: flex;
    flex-direction: row;
  }
  .logged-in-nav > .night-owl-logo {
    font-size: auto;
    width: 572px;
  }

  .profile-button {
    width: 40px;
    position: relative;
  }
  .menu {
    margin-right: 30px;
  }

  .profile-dropdown, .menu-dropdown {
    position: absolute;
    right: 40px;
  }
}
